@import "tailwindcss";

:root {
	--dark: rgb(43, 42, 52);
	--light: rgb(224, 225, 221);
	--primary: rgb(213, 99, 90);
	--primary-hover: rgb(213, 99, 90, 0.15);
	--secondary: rgb(203, 167, 47);
}

@theme inline {
	--color-dark: var(--dark);
	--color-light: var(--light);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-secondary: var(--secondary);
	--font-poppins: var(--font-poppins);
}

.large-shadow {
	box-shadow: 0 0 50px 15px rgba(213, 99, 90, 0.25);
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark: rgb(43, 42, 52);
		--light: rgb(224, 225, 221);
		--primary: rgb(213, 99, 90);
		--secondary: rgb(203, 167, 47);
	}
}

body {
	background: var(--dark);
	color: var(--light);
	font-family: var(--font-poppins), sans-serif;
}
